body {
    margin:5px;
}

section {
    background-image: url("img/fondo_web.jp");
       }

.flag-link {
    display: inline-block; /* Asegura que el enlace se comporte como un bloque en línea */
  
}

.flag-img {

    width: auto; /* Hace que la imagen ocupe el 100% del ancho de su contenedor */
    height: 100%; /* Mantiene la proporción original de la imagen */
    max-height: 30px; /* Establece una altura máxima para evitar que las imágenes sean demasiado altas */
    margin-right: 20px;
}

.dropdown-item-custom {
    transition: background-color 0.3s ease; /* Transición para suavizar el cambio de color */
}

.dropdown-menu-end .dropdown-item:hover, .dropdown-menu-end .dropdown-item:focus  {
    background-color: #284975; /*Ajustar cuando tenga el diseño*/
    color: #ffffff; /*Ajustar cuando tenga el diseño*/
}

.dropdown-menu-end a.dropdown-item.bibliotecario  {
    background-color: #f7b670;
}

.dropdown-menu-end .dropdown-item.bibliotecario:hover,
.dropdown-menu-end .dropdown-item.bibliotecario:focus {
    background-color: #e77904; /*Ajustar cuando tenga el diseño*/
    color: #ffffff; /*Ajustar cuando tenga el diseño*/
}

.margin-span-dropdown-item {
    padding-left: 16px;
    padding-right: 10px;
}

.menu-span-tittle:hover {

    cursor: default;

}
.menu-span-tittle {
    padding: 4px 16px;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #e77904; /*Ajustar cuando tenga el diseño*/
    color: #ffffff; /*Ajustar cuando tenga el diseño*/
}

.custom-container {
    width: 100%;
    max-width: 100%;
    padding-right: 15px; 
    padding-left: 15px;  
    margin-right: auto;
    margin-left: auto;
}
