.card {
    margin-top: 10px;
    color:aliceblue;
}

.card-body {
    color:aliceblue;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

li strong {
    margin-bottom: 5px;
}
