.bibliotecario-badge {
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.usuario-badge {
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.card {
    margin-left: 10%;
    margin-right: 10%;
}