.flag-link {
    display: inline-block; /* Asegura que el enlace se comporte como un bloque en línea */
    filter: grayscale(100%)
}

.flag-img {
    filter: grayscale(100%);
    width: auto; /* Hace que la imagen ocupe el 100% del ancho de su contenedor */
    height: 10px; /* Mantiene la proporción original de la imagen */
    max-height: 30px; /* Establece una altura máxima para evitar que las imágenes sean demasiado altas */
}
